# TCC TimeSeries Classification

In [9]:
import pandas as pd
import numpy as np

## Loading the data

In [17]:
df = pd.read_excel("./datasets/24PI109.xlsx", sheet_name= "Medições")

# index dataframe
df.set_index("DATE", inplace=True)

df

                  COTA        MCA    PROF_NA
DATE
2019-01-01  881.231000        NaN        NaN
2019-01-02  881.241000  14.140000  18.030000
2019-01-03  881.241000  14.140000  18.030000
2019-01-04  881.241000  14.140000  18.030000
2019-01-05  881.240000  14.139000  18.031000
...                ...        ...        ...
2022-05-31  883.336585  16.235585  15.934415
2022-06-01  883.322128  16.221128  15.948872
2022-06-02  883.316206  16.215206  15.954794
2022-06-03  883.300592  16.199592  15.970408
2022-06-04  883.276481  16.175481  15.994519

[1181 rows x 3 columns]

## Data Preprocessing

### Inserting missing rows

In [20]:
# inserting missing day rows in dataframe
df = df.asfreq('D', fill_value=np.nan)

df

                  COTA        MCA    PROF_NA
DATE
2019-01-01  881.231000        NaN        NaN
2019-01-02  881.241000  14.140000  18.030000
2019-01-03  881.241000  14.140000  18.030000
2019-01-04  881.241000  14.140000  18.030000
2019-01-05  881.240000  14.139000  18.031000
...                ...        ...        ...
2022-05-31  883.336585  16.235585  15.934415
2022-06-01  883.322128  16.221128  15.948872
2022-06-02  883.316206  16.215206  15.954794
2022-06-03  883.300592  16.199592  15.970408
2022-06-04  883.276481  16.175481  15.994519

[1251 rows x 3 columns]

### Interpolating the missing values

In [22]:
df = df.interpolate()

df.notna().sum()

COTA       1251
MCA        1250
PROF_NA    1250
dtype: int64

## X and no y

In [ ]:
X = df[["DATE", "MCA"]]

## Transformer model

In [23]:
from tensorflow import keras
from tensorflow.keras import layers

Collecting tensorflow